.horario-toma-muestras {
    background-color: #f0f8ff; /* Fondo suave */
    padding: 60px 0;
}

.service-details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 28px;
    color: #00aaff;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    font-size: 18px;
    color: #555;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.custom-list li:last-child {
    border-bottom: none;
}

.custom-list li strong {
    color: #007bff;
}

.content-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.mb_60 {
    margin-bottom: 60px;
}

.pt_120 {
    padding-top: 120px;
}

.pb_110 {
    padding-bottom: 110px;
}
